<%= form_for(classroom) do |f| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :has_grades %>
    <%= f.check_box :has_grades %>
  </div>

  <div class="field">
    <%= f.label :has_attendance %>
    <%= f.check_box :has_attendance %>
  </div>

  <div class="field">
    <%= f.label :minimum_grade %>
    <%= f.text_field :minimum_grade %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
