<% provide(:title, @classroom.name) %>

<section class="card content">
  <% for section in @sections %>
      <div class="dropdown section-options">
        <%= link_to (fa_icon 'caret-down'), 'javascript:;', :data => { toggle: 'dropdown', target: '#' } %>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><%= link_to 'Edit section', edit_classroom_section_path(@classroom, section) %></li>
          <li><%= link_to 'Delete section', classroom_section_path(@classroom, section),
                          data: {:confirm => 'Are you sure?'}, :method => :delete %></li>
        </ul>
      </div>
      <div class="section-title">
        <h3><%= section.title %></h3>
        <% if section.description %>
            <p class="section-description"><%= section.description %></p>
        <% end %>
      </div>
      <% for item in items_by_section(section) %>
          <div class="item">
            <div class="dropdown item-options">
              <%= link_to (fa_icon 'caret-down'), 'javascript:;', :data => { toggle: 'dropdown', target: '#' } %>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to 'Edit', [:edit, @classroom, item, section: section.id] %></li>
                <li><%= link_to 'Delete', [@classroom, item],
                                data: {:confirm => 'Are you sure?'}, :method => :delete %></li>
              </ul>
            </div>
            <div class="item-title">
              <span class="item-type item-<%= item.type.downcase %>"><%= item.type %></span>
              <%= link_to item.title, item_path(item) %>
            </div>
          </div>
      <% end %>
      <% if is_teacher? %>
          <div class="text-right">
            <div class="dropdown">
              <a href="#" data-target="#" data-toggle="dropdown" class="dropdown-toggle btn">Add item</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to 'Link', new_classroom_link_path(@classroom, section: section.id) %></li>
                <li><%= link_to 'File', new_classroom_document_path(@classroom, section: section.id) %></li>
                <li><%= link_to 'Survey', new_classroom_survey_path(@classroom, section: section.id) %></li>
                <li><%= link_to 'Test', new_classroom_test_path(@classroom, section: section.id) %></li>
                <li><%= link_to 'Assignment', new_classroom_assignment_path(@classroom, section: section.id) %></li>
              </ul>
            </div>
          </div>
      <% end %>
      <hr>
  <% end %>
  <% if is_teacher? %>
    <div class="text-right">
      <%= link_to 'Add section', new_classroom_section_path(@classroom), class: 'btn' %>
    </div>
  <% end %>
</section>
