<% provide(:title, @classroom.name) %>

<p id="notice"><%= notice %></p>

<section class="card content">
  <% for section in @sections %>
      <h3 class="section-title"><%= section.title %></h3>
      <% for item in items_by_section(section) %>
          <p class="item-title">
            <%= item_icon(item) %>
            <%= link_to '[' + item.type.upcase + '] ' + item.title, item_path(item) %>
          </p>
      <% end %>
      <div class="text-right">
        <div class="dropdown">
          <a href="#" data-target="#" data-toggle="dropdown" class="dropdown-toggle btn">Add item</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to 'Link', new_classroom_link_path(@classroom, section: section.id) %></li>
            <li><%= link_to 'File', new_classroom_document_path(@classroom, section: section.id) %></li>
            <li><%= link_to 'Survey', new_classroom_survey_path(@classroom, section: section.id) %></li>
          </ul>
        </div>
      </div>
      <hr>
  <% end %>
</section>
