<%= form_for [current_classroom, @section] do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :title, 'Classroom name' %>
      <div class="form-fields "><%= fa_icon 'font' %>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <%= f.text_field :title, class: 'form-field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, 'Classroom name' %>
      <div class="form-fields ">
        <%= fa_icon 'align-left' %>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <%= f.text_area :description, class: 'form-field' %>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>
