<%= form_for(survey, url: classroom_surveys_path) do |f| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :section_id, value: params[:section] %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

    <%= f.nested_fields_for :survey_questions do |question_form| %>
        <%= question_form.remove_nested_fields_link %>
        <div>
          <%= question_form.label :question %>
          <%= question_form.text_field :question %>
        </div>

        <div>
          <%= question_form.check_box :required %>
          <%= question_form.label :required, class: 'checkbox inline' %>
        </div>

        <%= question_form.nested_fields_for :survey_answers do |answers_form| %>
            <%= answers_form.remove_nested_fields_link %>
            <div>
              <%= answers_form.label :answer %>
              <%= answers_form.text_field :answer %>
            </div>
        <% end %>


        <%= question_form.add_nested_fields_link :survey_answers  %>


    <% end %>

    <%= f.add_nested_fields_link :survey_questions  %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
